/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

:root{
  --bg-color:#f5f5f5;
  --text-color:#222222;
  --btn-bg:#333333;
  --btn-text:#ffffff;
  --glow-1: #b3f8f8;
  --glow-2: #cdcdf8;
  --glow-3: #dabaf9;
  --glow-3: #bad2f9;
  --card-bg:#d3e2e546;
}

body.dark{
  --bg-color:#1a1a1a;
  --text-color:#f5f5f5;
  --btn-bg:#eeeeee;
  --btn-text:#000000;
  --glow-1: #00ffff;
  --glow-2: #0000ff;
  --glow-3: #8000ff;
  --card-bg: #1c1f2b;
}


body{
  background-color: var(--bg-color);
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  font-family:  sans-serif, Verdana, Tahoma, sans-serif;
  min-height: 100vh;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    font-size: clamp(1.8rem, 10vw, 5rem);
    margin: 1.5rem;
    text-align: center;
}

/* ---------GRID---------- */

.bento-grid{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap:20px;
  width: clamp(350px, 90vw, 900px);
  margin: 20px;
}


/* --------------------KNAPPER----------------- */

.theme-btn{
  background-color:var(--btn-bg);
  color: var(--btn-text);
  padding:10px 20px;
  border:none;
  border-radius: 5px;
  cursor:pointer;
  font-size: 1rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.1s ease;
}

.theme-btn:hover{
  opacity: 0.9;
}

.theme-btn:active{
  transform: scale(0.95);
}

/* ------------CARDS-------------- */


.card{
  position: relative;
  background: var(--card-bg);
  padding: 2em;
  margin: 0.5em;
  border-radius: 20px;
  background-clip: border-box;
  /* box-shadow:
    inset 0 0 0 1px rgba(255,255,255,0.08),
    0 20px 40px rgba(0,0,0,0.25); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.3s ease;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  inset: -1px; /* justerer overlap med glow på kanten  */
  border-radius:inherit;
  background: conic-gradient(
    from var(--angle),
    transparent 30%, /* hvor mye av ringen som lyser */
    var(--glow-1),
    var(--glow-2),
    var(--glow-3),
    transparent
  );

   animation: spin 4s linear infinite;
   z-index: -1;
}


.card::before {
  filter: blur(1.6rem);
  opacity: 0.5; /* (styrke på gløden) */
}

.card::after {
  filter: drop-shadow(0 0 6px rgba(255,255,255,0.15));
}



.status-card { grid-column: 1 / 2; }
.icon-card {
  grid-column: 2/3;
  align-items: center;
  font-size: 3rem;
}

.joke-card{ grid-column: 1/2};
.icon-card{
  grid-column: 2/3;
  align-items: center;
  font-size: 3rem;
}

.badge{
  font-size: 0.76em;
  letter-spacing: 2px;
  opacity: 0.6;
  margin-bottom: 1rem;
}

.big-icon{
  filter: drop-shadow(0 0 10px var(--text-color));
  font-size: 4rem;
  display: block;
  text-align: center;
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0 15px var(--glow-1));
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

.line-decoration{
  width: 50px;
  height: 4px;
  background: linear-gradient(90deg, var(--glow-1), var(--glow-3));
  margin: 15px auto;
  border-radius: 10px;
}

.joke-box{
  margin: 2rem 0;
  padding: 1rem;
  border-left: 3px solid var(--btn-bg);
  font-style:italic;
}


@keyframes spin {
  from { --angle: 0deg; }
  to { --angle: 360deg; }
}


.bug{
  position: absolute;
  font-size: 1.2rem;
  z-index: 10;
  pointer-events: none;
  filter: grayscale(0.5);
  
}

/* Skjul bugs i Dark Mode */
body.dark .bug {
  display: none;
}

/* De forskjellige insektene får ulike startposisjoner og animasjoner */
.bug-1{
  top: -10px;
  left: 10%;
  animation: crawl-horizontal 20s linear infinite,
  wiggle 0.15s ease-in-out infinite;
}

.bug-2{
  bottom: 20%;
  right: -10px;
  animation: crawl-vertical 12s linear infinite reverse;
}

.bug-3{
bottom: 0%;
left: -10px;
animation: wiggle 0.15s ease-in-out infinite;
}

/* bevegelse animasjon */

@keyframes wiggle {
  0% { transform: rotate(92deg) scale(1); }
  50% { transform: rotate(88deg) scale(1.05); }
  100% { transform: rotate(92deg) scale(1); }
}
@keyframes crawl-horizontal {
  0% { left: -10%; transform: rotate(90deg); }
  100% { left: 110%; transform: rotate(90deg); }
}

@keyframes crawl-vertical{
  0% { top: -10%; transform: rotate(0deg); }
  100% { top: 110%; transform: rotate(0deg); }
}



/* Respekter brukere som ikke vil ha animasjon */
@media (prefers-reduced-motion: reduce) {
  .card::before,
  .card::after {
    animation: none;
  }
}


