/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --bg-color:#f5f5f5;
  --text-color:#222222;
  --btn-bg:#333333;
  --btn-text:#ffffff;
}

body.dark{
  --bg-color:#1a1a1a;
  --text-color:#f5f5f5;
  --btn-bg:#eeeeee;
  --btn-text:#000000;
}

body{
  background-color: var(--bg-color);
  transition: background-color 0.4s ease, color 0.4s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width:clamp(350px, 90vw, 800px);
  text-align: center;
  pad: 2rem;
}

h1{
    font-size: clamp(1.8rem, 10vw, 5rem);
    margin: 1.5rem;
    text-align: center;
}

